
section, header
{
    display: flex; 
   	justify-content: space-around;
}

section{
	margin-top: 5px;
}

header{
	background-color: rgb(187,210,225);
}

header img
{
	width:140px;
	height:100px;
	padding-left: 10%;
}

.profil img{
    width:70px;
    height:70px;
}

.profil{
	margin-left: 55%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 2%;
    border: 2px grey solid;
    text-align: center;
    background-color: rgba(245,245,245,0.9);
    font-size: 0.9em;

}

#menugauche
{
	border: 2px grey solid;
	margin-right: 5%;
	background-color: rgb(103,113,121);
	color: white;
    padding: 1%;
}

a{
    text-decoration: none;
    color: rgb(245,245,245);
}


article
{
    padding-right: 1%;
    padding-left: 1%;
    flex: 1;
    border: 2px grey solid;
    text-align: center;
    background-color: rgba(245,245,245,0.9);
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead, tfoot{
    font-weight: bold;
    background-color:rgb(103,113,121); 
}

td{
    border-bottom: 1px solid black;
}

tbody tr:hover{
    background-color: #fff;
}

h2{
	border-top: 2px grey solid;
}

section div{
	text-align: left;
}

h2{
    text-align: right;
}

aside
{
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 5%;
    text-align: center;
    border: 2px grey solid;
    background-color: rgba(245,245,245,0.9);
    width: 10%;
}

